body {
  background: url('../includes/main_photo.jpg') no-repeat center center fixed;
  background-size: cover;
}

.header{
  height: 250px;
  color: white;
  /* background-color: rgba(255, 0, 0, 0.5); */
  background-color: rgba(250, 89, 15, 0.5);
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
